:root {
    --backgroundColor: #d6c698;
    --headColor: rgb(171, 128, 55);
    --hoverColor: rgb(199, 190, 125);
    --borderColor: #aaa;
    --diariesLeftColor: rgb(201, 190, 133);
    --diariesLeftNavbarColor: antiquewhite;
} 